<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>527873306972-ekmspa08nf019pciqus866qefc7pqud9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527873306972-ekmspa08nf019pciqus866qefc7pqud9</string>
	<key>API_KEY</key>
	<string>AIzaSyDAO4bNih263ZmYnZ7Fiig0V-hhd1ZXj1I</string>
	<key>GCM_SENDER_ID</key>
	<string>527873306972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ciss.cissmun</string>
	<key>PROJECT_ID</key>
	<string>cissmun-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cissmun-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:527873306972:ios:bf9feffec6a86f96</string>
	<key>DATABASE_URL</key>
	<string>https://cissmun-app.firebaseio.com</string>
</dict>
</plist>